//$txt-color: #1473cc;
$bg-color: #7559e9;

$browser-default-font-size: 75px !default;
@function pr($px) {
  @return $px / $browser-default-font-size * 1rem;
}
$padding-size:pr(24px);

%one {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

%in-b {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

%clearfix {
  zoom: 1;
  &:after {
    clear: both;
  }
  &:before,
  &:after {
    content: "";
    display: table;
  }
}

/* 标题模块 */
.title-lcm{
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  color: #444444;
  &:before{
    @extend %in-b;
    content: '';
    width: 5px;
    height: 24px;
    background-image: linear-gradient(135deg,
        #d65ccd 0%,
        #975eee 100%),
    linear-gradient(
            #7559e9,
            #7559e9);
    background-blend-mode: normal,
    normal;
    border-radius: 3px;
    vertical-align: middle;
    margin-right: 18px;
  }
  span{
    vertical-align: middle;
  }
  .lcm-area{
    @extend %in-b;
    background-image: linear-gradient(135deg,
        #d65ccd 0%,
        #975eee 100%),
    linear-gradient(
            #7559e9,
            #7559e9);
    background-blend-mode: normal,
    normal;
    border-radius: 10px 0px 10px 0px;
    font-size: 14px;
    color: #ffffff;
    padding: 0 9px;
  }
}

/* 课程 容器 */
.course-wrap{
  width: 738px;
  margin: 0 auto;
}

/* 课程项目 */
.kcxm{
  @extend %clearfix;
  .kc-xm-bg{
    width: 324px;
    height: 239px;
    float: left;
    margin-right: 20px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .kc-xm-cont{
    width: 394px;
    //border: 1px solid red;
    float: left;
    .cont-detail{
      font-size: 14px;
      line-height: 26px;
      color: #666666;
      .detail-title{
        font-size: 18px;
        color: #7559e9;
        font-weight: bold;
      }
      .detail-more{
        color: $bg-color;
      }
      .detail-btn{
        text-align: center;
        padding-top: 24px;
        a{
          @extend %in-b;
          min-width: 110px;
          height: 32px;
          line-height: 32px;
          background-color: #ffffff;
          border-radius: 16px;
          border: solid 1px #7559e9;
          margin-right: 20px;
          font-size: 14px;
          color: $bg-color;
          box-sizing: border-box;
          &:last-child{
            margin-right: 0;
          }
          &:hover, &.active{
            background-image: linear-gradient(135deg,
                #d65ccd 0%,
                #7559e9 100%),
            linear-gradient(
                    #c6c6c6,
                    #c6c6c6);
            background-blend-mode: normal,
            normal;
            box-shadow: 0px 3px 5px 0px
            rgba(143, 95, 243, 0.4);
            color: #ffffff;
            border: none;
          }
        }
      }
    }
  }
}

/* 学校优势 */
.xxys{
  padding: 30px 0;
  .xxys-cont{
    text-align: center;
    padding-top: 30px;
    @extend %clearfix;
    .cont-item{
      float: left;
      width: 33.33%;
      padding: 0 18px;
      box-sizing: border-box;
      &:hover{
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
      }
      .item-img{
        width: 80px;
        height: 80px;
      }
      .item-title{
        font-size: 16px;
        font-weight: bold;
        line-height: 26px;
        color: #444444;
        padding-top: 15px;
        padding-bottom: 15px;
      }
      .item-text{
        font-size: 14px;
        line-height: 26px;
        color: #666666;
      }
    }
  }
}

/* 招生说明 */
.zssm{
  .zssm-cont{
    background: url("https://img.thea.cn/public/platform/thea/201910/hbj/kc-mk/images/bg-color.png") repeat-y right;
    margin-top: 30px;
    padding: 20px 0 16px;
    @extend %clearfix;
    .cont-l{
      width: 292px;
      float: left;
      margin-right: 30px;
      .l-img{
        width: 100%;
        height: 230px;
      }
      .l-btn{
        text-align: center;
        padding-top: 20px;
        a{
          @extend %in-b;
          min-width: 136px;
          height: 42px;
          line-height: 42px;
          background-color: transparent;
          border: solid 1px #7559e9;
          margin-right: 16px;
          font-size: 14px;
          color: $bg-color;
          box-sizing: border-box;
          vertical-align: middle;
          &:last-child{
            margin-right: 0;
          }
          &:hover, &.active{
            background-image: linear-gradient(135deg,
                #d65ccd 0%,
                #7559e9 100%),
            linear-gradient(
                    #c6c6c6,
                    #c6c6c6);
            background-blend-mode: normal,
            normal;
            box-shadow: 0px 3px 5px 0px
            rgba(143, 95, 243, 0.4);
            color: #ffffff;
            border: none;
          }
        }
      }
    }
    .cont-r{
      width: 392px;
      float: left;
      .r-title{
        font-size: 16px;
        font-weight: bold;
        line-height: 26px;
        color: #444444;
      }
      .r-row{
        font-size: 14px;
        padding-top: 16px;
        .row-key{
          @extend %in-b;
          background-color: #7559e9;
          border-radius: 13px;
          height: 26px;
          line-height: 26px;
          padding: 0 14px;
          color: #ffffff;
        }
        .row-val{
          color: #666666;
          padding-top: 6px;
          line-height: 24px;
        }
      }
    }
  }
}

/* 社会实践 */
.shsj{
  .shsj-cont{
    padding: 30px 0 20px;
    @extend %clearfix;
    .cont-item{
      width: 230px;
      float: left;
      margin-right: 24px;
      &:last-child{
        margin-right: 0;
      }
      .item-img{
        width: 100%;
        height: 184px;
        margin-bottom: 10px;
      }
      .item-text{
        width: 100%;
        font-size: 14px;
        line-height: 26px;
        color: #666666;
      }
    }
  }
}

/* 国际交流 */
.gjjl{
  .gjjl-text{
    background-color: #e3defb;
    border-radius: 16px 16px 0 0;
    margin: 30px 20px 0;
    padding: 20px 28px;
    font-size: 16px;
    line-height: 30px;
    color: #666666;
  }
  .gjjl-cont{
    background-color: #7559e9;
    border-radius: 16px;
    padding: 20px 20px 0;
    margin-bottom: 30px;
    @extend %clearfix;
    .cont-item{
      background-color: #ffffff;
      padding: 10px;
      float: left;
      margin-bottom: 18px;
      &:nth-of-type(odd){
        margin-right: 18px;
      }
      img{
        width: 320px;
        height: 220px;
      }
    }
  }
}

/* 课程优势 */
.kcys{
  .kcys-cont{
    padding: 50px 0 30px;
    @extend %clearfix;
    .cont-item{
      float: left;
      width: 20%;
      height: 201px;
      background-color: #7559e9;
      border-radius: 6px;
      padding: 47px 17px 30px;
      box-sizing: border-box;
      margin-top: 80px;
      position: relative;
      .item-serial{
        position: absolute;
        top: -20px;
        left: 0;
        width: 96px;
        height: 37px;
        line-height: 37px;
        background-image: linear-gradient(135deg,
            #f6601e 0%,
            #ffb109 100%),
        linear-gradient(
                #d35ccf,
                #d35ccf);
        background-blend-mode: normal,
        normal;
        box-shadow: 0px 3px 5px 0px
        rgba(216, 52, 97, 0.4);
        border-radius: 16px 16px 16px 0px;

        font-size: 30px;
        color: #ffffff;
        text-align: center;
      }
      .item-detail{
        height: 100%;
        line-height: 26px;
        color: #ffffff;
        .detail-title{
          font-size: 16px;
          font-weight: bold;
          text-align: center;
        }
        .detail-text{
          font-size: 14px;
          opacity: 0.5;
        }
      }
      &:nth-of-type(2){
        background-color: #66b58d;
        margin-top: 60px;
        height: 221px;
      }
      &:nth-of-type(3){
        background-color: #e95963;
        margin-top: 40px;
        height: 241px;
      }
      &:nth-of-type(4){
        background-color: #f4862a;
        margin-top: 20px;
        height: 261px;
      }
      &:nth-of-type(5){
        background-color: #3c95da;
        margin-top: 0;
        height: 281px;
      }
    }
  }
}

/* 上海国际高中 */
.shgjgz{
  .shgjgz-cont{
    padding: 30px 0;
    .cont-item{
      @extend %clearfix;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #e4e4e4;
      &:last-child{
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 0;
      }
      .item-bg{
        float: left;
        width: 300px;
        height: 200px;
        margin-right: 20px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .item-detail{
        float: left;
        width: 406px;
        .detail-row{
          font-size: 14px;
          line-height: 24px;
          .row-name{
            @extend %in-b;
            font-size: 16px;
            line-height: 26px;
            font-weight: bold;
            color: #444444;
            margin-right: 20px;
          }
          .row-area{
            color: #888888;
            padding-left: 20px;
            background: url("https://img.thea.cn/public/platform/thea/201910/hbj/kc-mk/images/icon_1.png") no-repeat left;
          }
          .row-key{
            color: #888888;
            @extend %in-b;
          }
          .row-val{
            @extend %in-b;
            color: #444444;
            span{
              background-color: #76c0d7;
              border-radius: 2px;
              padding: 0 4px;
              color: #ffffff;
              margin-right: 8px;
              &:last-child{
                margin-right: 0;
              }
              &:nth-of-type(2){
                background-color: #ffaf6d;
              }
              &:nth-of-type(3){
                background-color: #f89383;
              }
            }
          }
        }
      }
      .item-btn{
        float: left;
        padding-top: 10px;
        a{
          @extend %in-b;
          min-width: 114px;
          height: 32px;
          line-height: 32px;
          background-color: #ffffff;
          border-radius: 16px;
          border: solid 1px #7559e9;
          margin-right: 20px;
          font-size: 14px;
          color: $bg-color;
          box-sizing: border-box;
          text-align: center;
          vertical-align: middle;
          &:last-child{
            margin-right: 0;
          }
          &:hover, &.active{
            background-image: linear-gradient(135deg,
                #d65ccd 0%,
                #7559e9 100%),
            linear-gradient(
                    #c6c6c6,
                    #c6c6c6);
            background-blend-mode: normal,
            normal;
            box-shadow: 0px 3px 5px 0px
            rgba(143, 95, 243, 0.4);
            color: #ffffff;
            border: none;
          }
        }
      }
    }
  }
}

/* 上海校区招生简章 */
.zsjz{
  .zsjz-cont{
    margin: 30px 0;
    background-repeat: no-repeat;
    background-size: auto 100%;
    @extend %clearfix;
    .cont-detail{
      float: right;
      width: 490px;
      background-color: #ffffff;
      box-shadow: 0px 0px 20px 0px
      rgba(117, 89, 233, 0.32);
      margin: 30px 0;
      padding: 30px;
      .detail-row{
        font-size: 14px;
        line-height: 24px;
        .row-key{
          color: #888888;
          @extend %in-b;
        }
        .row-tuition{
          color: #fd5300;
        }
      }
      .item-btn{
        padding-top: 10px;
        a{
          @extend %in-b;
          min-width: 164px;
          height: 32px;
          line-height: 32px;
          background-color: #ffffff;
          border-radius: 16px;
          border: solid 1px #7559e9;
          margin-right: 20px;
          font-size: 14px;
          color: $bg-color;
          box-sizing: border-box;
          text-align: center;
          vertical-align: middle;
          &:last-child{
            margin-right: 0;
          }
          &:hover, &.active{
            background-image: linear-gradient(135deg,
                #d65ccd 0%,
                #7559e9 100%),
            linear-gradient(
                    #c6c6c6,
                    #c6c6c6);
            background-blend-mode: normal,
            normal;
            box-shadow: 0px 3px 5px 0px
            rgba(143, 95, 243, 0.4);
            color: #ffffff;
            border: none;
          }
        }
      }
    }
  }
}

/* 上海国际小学 */
.gjxx{
  .gjxx-cont{
    padding: 30px 0;
    @extend %clearfix;
    margin-right: -24px;
    .cont-item{
      width: 230px;
      float: left;
      margin-right: 24px;
      margin-bottom: 30px;
      img{
        width: 100%;
      }
      .item-title{
        background-color: $bg-color;
        font-size: 16px;
        line-height: 36px;
        @extend %one;
        text-align: center;
        color: #ffffff;
      }
      .item-text{
        font-size: 14px;
        line-height: 18px;
        color: #666666;
        padding: 13px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
      .item-enroll{
        font-size: 14px;
        line-height: 14px;
        color: #888888;
        @extend %clearfix;
        .enroll-stage{
          float: left;
        }
        .site{
          float: right;
          padding-left: 15px;
          background: url("https://img.thea.cn/public/platform/thea/201910/hbj/kc-mk/images/icon_2.png") no-repeat left;
        }
      }
    }
  }
}

/* 热门国际学校 */
.rmgjxx{
  .rmgjxx-cont{
    padding: 30px 0 0;
    @extend %clearfix;
    margin-right: -24px;
    .cont-item{
      width: 230px;
      float: left;
      margin-right: 24px;
      margin-bottom: 20px;
      padding-bottom: 10px;
      &:hover{
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
      }
      .item-detail{
        position: relative;
        height: 160px;
        img{
          width: 100%;
          position: absolute;
          top: 0;
        }
        .detail-title{
          width: 100%;
          position: absolute;
          bottom: 0;
          z-index: 10;
          background-color: rgba(0, 0, 0, 0.5);
          font-size: 12px;
          line-height: 32px;
          text-align: center;
          color: #ffffff;
          @extend %one;
        }
      }
      .item-title{
        font-size: 16px;
        line-height: 16px;
        color: #444444;
        padding: 12px 0;
        @extend %one;
        text-align: center;
      }
      .item-stage{
        font-size: 14px;
        line-height: 18px;
        color: #888888;
        text-align: center;
      }
    }
  }
}

/* 国际硕士学位班院校 */
.gjss{
  .gjss-cont{
    padding: 30px 0 0;
    @extend %clearfix;
    margin-right: -24px;
    .cont-item{
      width: 230px;
      float: left;
      margin-right: 24px;
      margin-bottom: 30px;
      text-align: center;
      img{
        width: 100%;
      }
      .item-title{
        font-size: 16px;
        line-height: 16px;
        @extend %one;
        color: #444444;
        font-weight: bold;
        padding: 12px 0;
      }
      .item-text{
        font-size: 14px;
        line-height: 18px;
        color: #666666;
        .in-class{
          margin-right: 1em;
        }
      }
      .item-btn{
        @extend %in-b;
        width: 164px;
        height: 32px;
        line-height: pr(32px);
        border: solid 1px #7559e9;
        box-sizing: border-box;
        font-size: 14px;
        color: $bg-color;
        margin-top: 12px;
        &:hover{
          background-color: $bg-color;
          color: #ffffff;
        }
      }
    }
  }
  .gjss-degree{
    @extend %clearfix;
    .degree-item{
      width: 359px;
      float: left;
      margin-right: 20px;
      margin-bottom: 20px;
      &:nth-of-type(2n){
        margin-right: 0;
      }
      &:nth-of-type(2){
        .item-title{
          background-color: $bg-color;
          &:before{
            content: '02';
          }
        }
      }
      &:nth-of-type(3){
        .item-title{
          background-color: #3c95da;
          &:before{
            content: '03';
          }
        }
      }
      &:nth-of-type(4){
        .item-title{
          background-color: #e95963;
          &:before{
            content: '04';
          }
        }
      }
      .item-title{
        height: 80px;
        line-height: 80px;
        background-color: #f4862a;
        border-radius: 12px 12px 0px 0px;
        font-size: 24px;
        text-align: center;
        font-weight: bold;
        color: #ffffff;
        position: relative;
        &:before{
          @extend %in-b;
          content: '01';
          font-size: 72px;
          font-weight: normal;
          color: #ffffff;
          opacity: 0.1;
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
      .item-detail{
        padding: 20px 30px;
        border-radius: 0 0 12px 12px;
        border: 1px solid #e4e4e4;
        img{
          width: 100%;
        }
        .detail-text{
          font-size: 14px;
          line-height: 26px;
          color: #666666;
          padding: 14px 0 23px;
        }
        .detail-btn{
          display: block;
          width: 100%;
          height: 42px;
          line-height: 42px;
          background-image: linear-gradient(135deg,
              #ffa21d 0%,
              #f4862a 100%),
          linear-gradient(
                  #7559e9,
                  #7559e9);
          background-blend-mode: normal,
          normal;
          box-shadow: 0px 3px 5px 0px
          rgba(244, 134, 42, 0.4);
          border-radius: 21px;
          text-align: center;
          font-size: 16px;
          color: #ffffff;
        }
      }
    }
  }
}

@media screen and (max-width:750px) {
  // 垂直居中，两端对齐
  .space-between {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  // 垂直居中，水平居中
  .space-around {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  // 文本显示多少行就省略
  @mixin ells($row) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $row;
    -webkit-box-orient: vertical;
  }
  // 去除前后伪类
  %clearclass {
    &:before,
    &:after {
      display: none;
    }
  }

  /* 标题模块 */
  .title-lcm{
    font-size: pr(32px);
    line-height: pr(32px);
    &:before{
      width: pr(5px);
      height: pr(24px);
      border-radius: pr(3px);
      margin-right: pr(18px);
    }
    .lcm-area{
      font-size: pr(22px);
      line-height: pr(38px);
      padding: 0 pr(14px);
    }
  }

  /* 课程 容器 */
  .course-wrap{
    width: 100%;
  }

  /* 课程项目 */
  .kcxm{
    padding: 0 $padding-size;
    .kc-xm-bg{
      width: pr(324px);
      height: pr(239px);
      margin-right: pr(20px);
    }
    .kc-xm-cont{
      width: auto;
      float: none;
      .cont-detail{
        font-size: pr(26px);
        line-height: pr(42px);
        .detail-title{
          font-size: initial;
        }
        .detail-btn{
          padding-top: pr(24px);
          @extend .space-between;
          a{
            margin-right: pr(20px);
            height: pr(56px);
            line-height: pr(56px);
            font-size: pr(26px);
            &:hover, &.active{
              box-shadow: 0px pr(3px) pr(5px) 0px
            }
          }
        }
      }
    }
  }
  /* 学校优势 */
  .xxys{
    padding: pr(30px) $padding-size;
    .xxys-cont{
      padding-top: pr(30px);
      .cont-item{
        padding: 0;
        .item-img{
          width: pr(80px);
          height: pr(80px);
        }
        .item-title{
          font-size: pr(26px);
          line-height: pr(34px);
          padding: pr(30px) 0 pr(18px);
        }
        .item-text{
          font-size: pr(22px);
          line-height: pr(42px);
        }
      }
    }
  }
  /* 招生说明 */
  .zssm{
    padding: 0 $padding-size;
    margin-bottom: pr(67px);
    .zssm-cont{
      margin-top: pr(23px);
      padding: pr(30px) pr(30px) pr(50px);
      background-size: 100% 100%;
      position: relative;
      .cont-l{
        width: pr(292px);
        margin-right: pr(30px);
        .l-img{
          height: pr(230px);
        }
        .l-btn{
          position: absolute;
          bottom: pr(-27px);
          left: 0;
          right: 0;
          margin: auto;
          a{
            height: pr(56px);
            line-height: pr(56px);
            font-size: pr(24px);
            border-radius: pr(28px);
            margin-right: pr(20px);
            background-color: #ffffff;
          }
        }
      }
      .cont-r{
        width: auto;
        float: none;
        .r-title{
          font-size: pr(26px);
          line-height: pr(36px);
        }
        .r-row{
          padding-top: pr(20px);
          font-size: pr(26px);
          .row-key{
            height: pr(40px);
            line-height: pr(40px);
            padding: 0 pr(16px) 0 pr(17px);
          }
          .row-val{
            font-size: pr(24px);
            line-height: pr(36px);
          }
        }
      }
    }
  }
  /* 社会实践 */
  .shsj{
    padding: 0 $padding-size;
    .shsj-cont{
      padding-top: pr(27px);
      .cont-item{
        width: pr(338px);
        margin-right: pr(26px);
        &:nth-of-type(2){
          margin-right: 0;
        }
        &:last-child{
          display: none;
        }
        .item-img{
          height: pr(270px);
          margin-bottom: pr(15px);
        }
        .item-text{
          font-size: pr(22px);
          line-height: pr(30px);
        }
      }
    }
  }
  /* 国际交流 */
  .gjjl{
    width: auto;
    padding: 0 $padding-size;
    .gjjl-text{
      border-radius: pr(16px) pr(16px) 0 0;
      margin: pr(27px) pr(30px) 0;
      padding: pr(20px) pr(30px);
      font-size: pr(24px);
      line-height: pr(36px);
    }
    .gjjl-cont{
      border-radius: pr(16px);
      padding: pr(18px) pr(18px) 0;
      margin-bottom: pr(40px);
      .cont-item{
        padding: pr(10px);
        margin-bottom: pr(18px);
        &:nth-of-type(odd){
          margin-right: pr(18px);
        }
        img{
          width: pr(304px);
          height: pr(209px);
        }
      }
    }
  }
  /* 课程优势 */
  .kcys{
    width: auto;
    padding: 0 $padding-size;
    .kcys-cont{
      padding: pr(50px) 0 pr(40px);
      .cont-item{
        float: none;
        width: 100%;
        height: pr(150px);
        border-radius: pr(6px);
        padding: 0 pr(30px);
        margin-top: 0;
        margin-bottom: pr(20px);
        &:last-child{
          margin-bottom: 0;
        }
        .item-serial{
          top: pr(-20px);
          width: pr(96px);
          height: pr(37px);
          line-height: pr(37px);
          font-size: pr(30px);
        }
        .item-detail{
          @extend .space-between;
          line-height: pr(36px);
          .detail-title{
            width: pr(156px);
            font-size: pr(26px);
            text-align: left;
          }
          .detail-text{
            width: pr(436px);
            font-size: pr(26px);
            opacity: 0.7;
          }
        }
        &:nth-of-type(2){
          margin-top: 0;
          height: pr(150px);
        }
        &:nth-of-type(3){
          margin-top: 0;
          height: pr(150px);
        }
        &:nth-of-type(4){
          margin-top: 0;
          height: pr(150px);
        }
        &:nth-of-type(5){
          margin-top: 0;
          height: pr(150px);
        }
      }
    }
  }
  /* 上海国际高中 */
  .shgjgz{
    padding: 0 $padding-size;
    .shgjgz-cont{
      padding: pr(30px) 0;
      .cont-item{
        padding-bottom: pr(30px);
        margin-bottom: pr(30px);
        .item-bg{
          width: pr(300px);
          height: pr(200px);
          margin-right: pr(20px);
        }
        .item-detail{
          width: pr(382px);
          float: right;
          .detail-row{
            font-size: pr(26px);
            line-height: pr(36px);
            @include ells(2);
            .row-name{
              width: pr(256px);
              font-size: pr(28px);
              line-height: pr(36px);
              margin-right: 0;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
            .row-area{
              float: right;
              font-size: pr(24px);
              padding-left: pr(26px);
            }
            .row-val{
              span{
                margin-right: pr(8px);
              }
            }
          }
        }
        .item-btn{
          padding-top: pr(30px);
          a{
            min-width: pr(140px);
            height: pr(56px);
            line-height: pr(56px);
            margin-right: pr(18px);
            font-size: pr(26px);
            border-radius: pr(28px);
          }
        }
      }
    }
  }
  /* 上海校区招生简章 */
  .zsjz{
    padding: 0 $padding-size pr(56px);
    position: relative;
    .zsjz-cont{
      margin: pr(30px) 0;
      .cont-detail{
        width: pr(472px);
        margin: pr(30px) 0;
        padding: pr(30px);
        .detail-row{
          font-size: pr(26px);
          line-height: pr(42px);
          @include ells(3);
        }
        .item-btn{
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          text-align: center;
          a{
            min-width: pr(264px);
            height: pr(56px);
            line-height: pr(56px);
            font-size: pr(26px);
            border-radius: pr(28px);
            margin-right: pr(20px);
          }
        }
      }
    }
  }
  /* 上海国际小学 */
  .gjxx{
    width: auto;
    padding: pr(30px) $padding-size;
    .gjxx-cont{
      padding: pr(30px) 0 0 ;
      margin-right: 0;
      .cont-item{
        width: pr(338px);
        margin-right: pr(26px);
        margin-bottom: pr(30px);
        &:nth-of-type(2n){
          margin-right: 0;
        }
        .item-title{
          font-size: pr(26px);
          font-weight: bold;
          line-height: pr(46px);
        }
        .item-text{
          font-size: pr(26px);
          line-height: pr(36px);
          color: #666666;
        }
        .item-enroll{
          font-size: pr(24px);
          line-height: pr(24px);
          .enroll-stage{
            width: 78%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow-x: scroll;
          }
          .site{
            padding-left: pr(26px);
          }
        }
      }
    }
  }
  /* 热门国际学校 */
  .rmgjxx{
    padding: 0 $padding-size;
    .rmgjxx-cont{
      padding: pr(25px) 0 0;
      margin-right: 0;
      .cont-item{
        width: pr(338px);
        margin-right: pr(26px);
        margin-bottom: pr(18px);
        padding-bottom: pr(10px);
        &:nth-of-type(2n){
          margin-right: 0;
        }
        .item-detail{
          height: pr(236px);
          .detail-title{
            padding-left: pr(20px);
            box-sizing: border-box;
            font-size: pr(24px);
            line-height: pr(46px);
          }
        }
        .item-title{
          font-size: pr(28px);
          line-height: pr(28px);
          padding: pr(20px) 0 pr(18px);
        }
        .item-stage{
          font-size: pr(24px);
          line-height: pr(24px);
        }
      }
    }
  }
  /* 国际硕士学位班院校 */
  .gjss{
    padding: 0 $padding-size;
    .gjss-cont{
      padding: pr(30px) 0 0;
      margin-right: 0;
      .cont-item{
        width: pr(338px);
        margin-right: pr(26px);
        margin-bottom: pr(28px);
        &:nth-of-type(2n){
          margin-right: 0;
        }
        .item-title{
          font-size: pr(28px);
          line-height: pr(28px);
          padding: pr(20px) 0;
        }
        .item-text{
          font-size: pr(24px);
          line-height: pr(24px);
        }
        .item-btn{
          width: 100%;
          height: pr(56px);
          line-height: pr(56px);
          font-size: pr(26px);
          margin-top: pr(20px);
        }
      }
    }
    .gjss-degree{
      .degree-item{
        width: pr(339px);
        margin-right: pr(24px);
        margin-bottom: pr(30px);
        .item-title{
          height: pr(80px);
          line-height: pr(80px);
          border-radius: pr(12px) pr(12px) 0px 0px;
          font-size: pr(32px);
          &:before{
            font-size: pr(72px);
          }
        }
        .item-detail{
          padding: pr(20px);
          border-radius: 0 0 pr(12px) pr(12px);
          .detail-text{
            font-size: pr(26px);
            line-height: pr(36px);
            margin: pr(14px) 0 pr(15px);
            padding: 0;
            @include ells(4);
          }
          .detail-btn{
            height: pr(56px);
            line-height: pr(56px);
            font-size: pr(28px);
            border-radius: pr(28px);
          }
        }
      }
    }
  }
}